/*banner图样式*/
.index-banner{
    position: relative;
    background: #b3b3b3;
 }
 .index-banner-bg{
    height: 570px;
    overflow: hidden;
    width: 100%;
 }
 .index-banner-bg img{
    margin: 0 auto;
 }
 .index-banner-text{
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -388px;
 }
 .index-banner-text .text-logo{
    width: 776px;
    height: 117px;
    background: url("../images/index-text-logo.png") no-repeat;
 }
 .index-banner-text .text-info{
    margin-top: 18px;
    text-align: center;
    color: #fff;
 }
 .index-banner-text .text-info .line{
    display: inline-block;
    width: 40px;
    border-top: solid #fff 1px;
    vertical-align: middle;
    *margin-top:22px;   /*只在IE7下有效*/
 }
 .index-banner-text .text-info .text{
    margin: 0 26px;
 }
 /*菜单*/
 .index-menu{
    position: relative;  /*父级设相对定位，其子级设为绝对定位*/
    border-top: 4px solid #f34949;
 }
 .index-menu .menu-tips{
    position: absolute;
    left: 50%;  /*居中显示*/
    top: 0;
    margin-left: -78px;
    width: 156px;
    height: 75px;
    text-align: center;
    line-height: 65px;
    color: #fff;
    background: #f34949;
 }
 .index-menu .menu-tips:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 78px solid transparent;   /*以下三条语句为设置menu倒三角*/
    border-right: 78px solid transparent;
    border-bottom: 10px solid #fff;
 
 }
 .index-menu .menu-list{
    margin-top: 150px;
    color: #555;
    overflow: hidden;   /*溢出隐藏*/
 }
 .index-menu .menu-list ul{
    width: 1160px;
 }
 .index-menu .menu-item{
    float: left;
    width: 520px;
    margin-right: 60px;
    margin-bottom: 56px;
 }
 .index-menu .menu-item .title,.index-menu .menu-item .line{
    float: left;
 }
 .index-menu .menu-item .price{
    float: right;
    color: #747474;
 }
 .index-menu .menu-item .title{
    width: 230px;
    color: #555555;
    overflow: hidden;
    white-space: nowrap;  /*段落中的文本不换行*/
    text-overflow: ellipsis; /*当对象内文本溢出时显示省略标记*/
 }
 .index-menu .menu-item .comment{
    margin-top: 11px;
    color: #b7b7b7;
    font-size: 12px;
 }
 .index-menu .menu-item .line{
    width: 192px;
    margin-top: 10px;
    border-top: 1px solid #e3e1e1;
 }
 .index-menu .menu-more-btn{
    margin: 0 auto;
    width: 133px;
    padding-left: 16px;
    padding-top: 11px;
    padding-bottom: 10px;
    border: 1px solid #d7d5d5;
    line-height: 32px;
    color: #b7b7b7;
 }
 .index-menu .menu-more-btn .icon{
    display: inline-block;
    position: absolute;
    width: 11px;
    height: 7px;
    margin-left: 11px;
    padding-top: 3px;
    margin-right: 11px;
    /*background: url("") no-repeat;*/
 }
 .index-panel{
    margin-top: 200px;
 }
 .index-panel-header h3{
    float: left;
    color: #3b3b3b;
    font-size: 20px;
    font-weight: normal;
    margin-right: 48px;
 }
 .index-panel-header .line{
    float: left;
    width: 200px;
    margin-top: 11px;
    border-top: 1px solid #e5e3e3;
 }
 .index-panel-header .btn-group{
    font-size: 0;  /*可清除inline-block  4px的间距*/
    float: right;
 }
 .index-panel-header .btn{
    display: inline-block;
    margin-left: 11px;
    width: 9px;
    height: 9px;
    background: #dedede;
    border-radius: 50%;
 }
 .index-panel-header .active{
    background: #9b9b9b;
 }
 .index-panel .index-panel-body{
    margin-top: 75px;
 }
 .index-food-list{
    overflow: hidden;
 }
 .index-food-list ul{
    width: 1160px;
 }
 .index-food-list .food-item{
    float: left;
    width: 230px;
    margin-right: 60px;
 
 }
 .index-food-list .food-item .banner{
    margin-bottom: 30px;
    height: 202px;
 }
 .index-food-list .food-item .name{
    margin-bottom: 10px;
    color: #555;
 }
 .index-food-list .food-item .price{
    float: right;
 }
 .index-food-list .food-item .star-bar{
    font-size: 0;
 }
 .index-food-list .food-item .star{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-image: url("../images/index-star.png");
    background-repeat: no-repeat;
 }
 .index-food-list .food-item .nostar{
    background-position: 0 -11px;
 }
 .index-pics{
    height: 380px;
    overflow: hidden;
 }
 .index-pics .pic-col{
    float: left;
 }
 .index-pics .pic-col-m{
    width: 353px;
 }
 .index-pics .pic-col-s{
    width: 287px;
 }
 .index-pics .pic-col-l{
    width: 460px;
 }
 common.css
 .public-header{
    height: 110px;
 }
 .public-header .header-logo{
    float: left;
    margin-top: 40px;
 
 }
 .public-header .header-logo a{
    height: 54px;
    width: 182px;
    background: url("../images/index-header-logo.png") no-repeat;
 }
 .public-header .header-nav{
    float: right;
    font-size: 14px;
 
 }
 .public-header .header-nav .item{
    float: left;
    margin-top: 44px;
    margin-left: 50px;
 }
 .public-header .header-nav a{
    color: #3b3b3b;
 }
 .public-header .header-nav a:hover{
    text-decoration: underline;
 }
 .public-container{
    position: relative;
    margin: 0 auto;
    width: 1100px;
 }
 .public-footer{
    height: 218px;
    margin-top: 200px;
    padding-top: 100px;
    background: #3b3b3b;
 }
 .public-footer .footer-col{
    float: left;
    width: 230px;
    margin-right: 60px;
    color: #fff;
    font-size: 16px;
 }
 .public-footer .footer-col-nor{
    margin-right: 0;
 }
 .public-footer .footer-logo{
    height: 55px;
    width: 182px;
    margin-top: -15px;
    margin-bottom: 12px;
    background: url("../images/index-footer-logo.png") no-repeat;
 
 }